* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "delicate";
  src: url("./public/assets/fonts/Delicate.otf") format("opentype");
}
:root {
  --background-color: rgba(233, 233, 233, 0.4);
  --secondary-color: rgb(11, 240, 221);
  --font-size: 16px;
  --font-weight: 400;
  --font-color: white;
  --font-secondColor: black;
  --font-family-name: "delicate", sans-serif, Verdana;
  --font-family: Roboto, sans-serif;
  --letter-spacing: 4px;
}
body {
  background-image: url("./public/assets/images/safar-safarov-koOdUvfGr4c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  font-family: var(--font-family);
  height: 100vh;
}
main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
}
h1 {
  font-family: var(--font-family-name);
  color: var(--font-color);
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
  padding: 1rem;
}
nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  position: absolute;
  bottom: 0;
  left: 0;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  pointer-events: pointer;
  color: var(--font-color);
  padding: 2rem 1.35rem;
}
a {
  text-decoration: none;
  font-family: var(--font-family-name);
  color: var(--font-color);
}
ul li:last-child a {
  color: var(--font-secondColor);
}

ul li:last-child {
  background-color: var(--background-color);
}
.contacto-container,
.form-container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.8rem;
  font-family: var(--font-family);
  color: var(--font-secondColor);
  border-radius: 12px;
  padding: 0.5rem;
  text-align: justify;
}
form {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--font-secondColor);
  gap: 0.5rem;
  margin-top: 0.8rem;
}
form input[name="nombre"],
[name="apellidos"],
[name="email"],
[name="telefono"],
textarea {
  padding: 0.8rem;
}
#btnSubmit {
  padding: 0.8rem 1.5rem;
  width: fit-content;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.sexo-container {
  display: flex;
  justify-content: space-around;
}
.sexo-container div input {
  margin-right: 0.8rem;
}
footer {
  display: none;
}
/*---------------------------------------------------------------- media query to iPad Air 820 x 1180 -------------------------------------------------------------*/
@media screen and (min-width: 820px) and (max-height: 1180px) {
  h1 {
    font-size: 50px;
    padding: 2rem;
  }
  nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.247);
    position: static;
  }
  nav a {
    font-size: 24px;
  }
  ul li:last-child a {
    text-decoration: underline;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    list-style: none;
    pointer-events: pointer;
    color: var(--font-color);
    padding: 2rem 3.35rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    background-color: var(--background-color);
    width: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem 3rem 3rem;
    align-items: center;
  }
  footer a {
    color: var(--font-color);
    text-decoration: none;
    margin-left: 0;
  }
  .contacto-container {
    display: none;
  }
  .form-container {
    background-color: transparent;
    margin: 0.8rem;
    font-family: var(--font-family);
    color: var(--font-color);
    border: 2px solid var(--background-color);
    border-radius: 12px;
    padding: 1.5rem;
  }
  .form-container h2 {
    font-size: 36px;
  }
  label {
    color: var(--font-color);
  }
  form input[name="nombre"],
  [name="apellidos"],
  [name="email"],
  [name="telefono"],
  textarea {
    color: var(--font-secondColor);
  }
  .btn-container {
    margin-top: 1rem;
    padding-bottom: 0;
  }
}
/*---------------------------------------------------------------- media query to iPad Air 1180 x 820 (rotate) -----------------------------------------------------*/
@media screen and (min-width: 1180px) and (max-height: 820px) {
  li {
    list-style: none;
    pointer-events: pointer;
    color: var(--font-color);
    padding: 1rem 3.35rem;
  }
  footer {
    gap: 2rem;
    padding: 0.5rem;
  }
  h1 {
    padding: 1.5rem;
  }
  section {
    display: flex;
    justify-content: center;

    height: 420px;
  }
  .form-container {
    overflow: auto;
  }
}
/* ---------------------------------------------------------------- media query to pc screen ----------------------------------------------------- */
@media screen and (min-width: 1181px) and (min-height: 821px) {
  h1 {
    font-size: 68px;
    letter-spacing: 6px;
    padding: 1rem;
    margin-bottom: 0;
  }
  nav {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.247);
  }
  nav a {
    font-size: 30px;
  }
  li {
    padding: 1.2rem 3.35rem;
  }

  .home-container-diplay {
    height: 500px;
  }
  footer {
    background-color: var(--background-color);
    gap: 1rem;
    padding: 1rem;
  }
  .form-container {
    border: none;
    justify-items: center;
  }
  .form-container article {
    height: 430px;
    overflow: auto;
    width: 50%;
    padding: 1rem;
  }
}
